/*background*/
#background {
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.darker {
    background-color: rgba(0,0,0,.2);
    position: absolute;
    width: 100%;
    height: 100%;
}
/*nav-bar*/
.nav-bar {
    width: 100%;
    height: 50;

}
/*welcome*/
.welcome {
    width: 100%;
    padding: 50;
    background-color: white;
    font-size: 50;
    display: flex;
    margin: 0 auto;
    margin-top: 30;
    width: 1000;
    justify-content: center;
    position: relative;
    align-items: center;
    color: black;
    font-weight: 200;
    border-radius: 0px;
}
.welcome .prof-pic {
    height: 120;
    width: 120;
    border-radius: 90px;
    border: solid 3px white;;
    margin-right: 50;
}
.welcome .desc {
    margin-top: -10;
    font-size: 20;
}
/*the-basics*/
.the-basics {
    width: 1000;
    margin: 0 auto;
    column-gap: 0px;
    column-count: 3;
}
.the-basics > div {
    padding: 40;
    background-color: rgba(0,0,0,.7);
    height: 400;
}
.basics-title {
    font-size: 25;
    color: white;
    font-weight: 200;
    position: relative;
}
.languages-container {
    margin-top: 5;
}
.lang {
    color: white;
    padding: 7;
    position: relative;
    background-color: rgba(0,0,0,.6);
    font-weight: 300;
    padding-right: 20;
    display: table;
    margin-top: 5;
    margin-bottom: 5;
    cursor: pointer;
    transition: transform .2s, color .2s, background-color .2s;
}
.lang:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}
.resume {
    background-color: rgba(0,0,0,.6)!important;
}
.view-resume-btn {
    padding: 15;
    margin-top: 5;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.4);
    position: relative;
    color: white;
    font-weight: 300;
}
.view-resume-btn i{
    margin-right: 5;
}
.facts {
    background-color: rgba(0,0,0,.5)!important;
}