/*background*/
#background {
    position: fixed;
    display: block;
    z-index: -100;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.darker {
    background-color: rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
    z-index: -99;
    height: 100%;
}
/*nav-bar*/
.nav-bar {
    width: 100%;
    height: 50;

}
/*welcome*/
.welcome {
    max-width: 100%;
    padding: 50;
    background-color: white;
    font-size: 50;
    display: flex;
    margin: 0 auto;
    margin-top: 30;
    width: 1000;
    justify-content: center;
    position: relative;
    align-items: center;
    color: black;
    font-weight: 200;
    border-radius: 0px;
}
.welcome .prof-pic {
    height: 120;
    width: 120;
    border-radius: 90px;
    border: solid 3px white;;
    margin-right: 50;
}
.welcome .desc {
    margin-top: -10;
    font-size: 20;
}
/*the-basics*/
.the-basics {
    
}
.threecol {
    max-width: 1000;
    margin: 0 auto;
    column-gap: 0px;
    column-count: 3;
}
.the-basics > div {
    padding: 40;
    background-color: rgba(0,0,0,.7);
    height: 420;
}
.basics-title {
    font-size: 25;
    color: white;
    font-weight: 200;
    position: relative;
}
.languages-container {
    margin-top: 5;
}
.lang {
    color: white;
    padding: 7;
    position: relative;
    background-color: rgba(0,0,0,.1);
    font-weight: 300;
    padding-right: 20;
     -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    display: table;
    margin-top: 5;
    margin-bottom: 5;
    cursor: pointer;
    transition: transform .2s, color .2s, background-color .2s;
}
.lang:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}
/*resume*/
.resume {
    background-color: rgba(0,0,0,.6)!important;
}
.view-resume-btn {
    padding: 15;
    margin-top: 5;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.4);
    position: relative;
    color: white;
    font-weight: 300;
    margin-bottom: 40;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.view-resume-btn i{
    margin-right: 5;
}
.facts {
    background-color: rgba(0,0,0,.5)!important;
}
.file-preview {
    background-color: rgba(0,0,0,.1)!important;
    margin-top: 5;
    margin-bottom: 15;
    display: block;
     -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    min-height: 210;
}
.prev-lable {
    position: relative;
    color: black;
    padding: 5;padding-left: 10;
    font-size: 14;
    font-weight: 300;
    background-color: rgba(0,0,0,.1);
    color: white;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
/*info*/
.info-title {
    font-size: 25;
    color: white;
    font-weight: 200;
    position: relative;
}
.info-block {
    padding: 10;
    background-color: rgba(0,0,0,.4);
    font-weight: 300;
    position: relative;
    padding-left: 15;
    margin-top: 5;
    margin-bottom: 10;
    padding-right: 15;
    color: white;
    cursor: pointer;
    transition: transform .2s, color .2s, background-color .2s;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.info-block:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}
/*block-footer*/
.block-footer {
    max-width: 1000;
    margin: 0 auto;
    background-color: white;
    position: relative;
    height: 135;
    overflow: hidden;
    margin-bottom: 200;
}
.block-footer .title {

    padding: 10;
    display: table;
    margin: 0 auto;

    margin-top: 10;
}
.block-footer .nav {
    display: flex;
    margin: 0 auto;
    max-width: 500;
    justify-content: space-between;
}
.block-footer .nav > div {
    padding: 5;
    cursor: pointer;
    padding-left: 10;
    font-weight: 300;
    border-radius: 30px;
    padding-right: 10;
    transition: transform .2s, color .2s;
     -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.block-footer .nav > div:hover{
    transform: scale(1.1);
}
/*mission-statement*/
.mystyle {
    max-width: 1000;
    margin: 0 auto;
    position: relative;
}
.mission-statement {
    padding: 50;
    position: relative;
    max-width: 1000;
    margin: 0 auto;
    margin-bottom: 200;
    background-color: white;
}
.item-label {
    padding: 5;
    padding-left: 10;
    margin-bottom: 10;
    display: table;
    padding-right: 10;
    font-weight: 700;
}
.what, .why, .who {
    min-height: 400;
    position: relative;
}
.info {
    padding: 30;
}
.what .info {
    display: inline-block;
    width: 100%;
    height: 150;
    background-color: rgba(0,0,0,.7);
}
.why .info {
    display: inline-block;
    width: 100%;
    height: 250;
    background-color: rgba(0,0,0,.6);
}
.who .info {
    display: inline-block;
    width: 100%;
    height: 350;
    background-color: rgba(0,0,0,.5);
}
.who .details {
    padding-right: 20;
}
/*section labels*/
.section-lbls {
    position: absolute;
    height: 800;
    right: 0;
    width: 30;
    background-color: rgba(0,0,0,.4);
    z-index: 300;
}
.design, .code {
    height: 350;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
}
.design > div, .code > div {
    transform: rotate(-90deg);
    margin-top: 10;
}
.plus > div {
    transform: rotate(-90deg);
    margin-top: -20;
}
.plus {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100;
}
/*tags*/
.tags {
    margin-top: 50;
    height: 400;
}
.mystyle .details {
    color: eee;
    font-weight: 300;
    font-size: 13;
    padding-left: 10;
    margin-top: -5;
}
.tags > div {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 400;
}
.responsive-tag .info {
    height: 150;
    margin-top: 200;
    background-color: rgba(0,0,0,.7);
}
.secure-tag .info {
    margin-top: 100;
    height: 250;
    background-color: rgba(0,0,0,.6);
}
.secure-tag .light-rod {
    height: 100;
}
.material-tag .info {
    display: inline-block;
    width: 100%;
    height: 350;
    margin-top: 0;
    background-color: rgba(0,0,0,.5);
}
.material-tag .details {
    padding-right: 20;
}
.bg {
    position: absolute;
    height: 800;
    display: flex;
    align-items: center;
    z-index: 0;
    width: 100%;
    background-color: rgba(0,0,0,.1)
}
.bg .large {
    font-size: 80;
    color: white;
    font-weight: 700;
    margin-bottom: -30;
}
.bg .small {
    font-size: 40;
    color: gainsboro;
    font-weight: 200;
}
/*projects*/
.projects {
    max-width: 1000;
    margin: 0 auto;
    margin-top: 150;
    position: relative;
}
.projects-title {
    position: relative;
    max-width: 1000;
}
.top-p {
    position: relative;
    z-index: 11;
    height: 70;
    width: 100%;
    margin-bottom: 10;
    background-color: white;
    transform: skewY(3deg);
}
.bottom-p {
    height: 70;
    position: relative;
    z-index: 11;
    width: 100%;
    margin-top: 30;
    background-color: white;
    transform: skewY(-3deg);
}
.window-layer{
    position: absolute;
    height: 90;
    margin-top: -40;
    z-index: 11;
    background-color: white;
    width: 100%;
    
}
.text-layer {
    position: absolute;
    color: black;
    z-index: 12;
    font-weight: 900;
    display: flex;
    width: calc(100% - 100px);
    align-items: center;
    font-size: 70;
    margin-top: 34;
    margin-left: 50;
}
.prev-btn {
    height: 50;
    margin-left: auto;
    width: 50;
    border-radius: 30px;
}
.next-btn {
    height: 50;
    width: 50;
    margin-left: 60;
    border-radius: 30px;
}
.projects-container {
    height: 500;
    margin-top: -40;
    overflow: hidden;
    position: relative;
}
.border-1 {
    height: 180;
    z-index: 0;
    margin-top: -83;
    transform: skewY(3deg);
    background-color: black;
}
.border-2 {
    z-index: 10;
    width: 160;
    right: -100;
    height: 500;
    transform: skewX(-10deg);
    background-color: black;
    position: absolute;
}
.border-3 {
    z-index: 10;
    width: 100%;
    bottom: -50;
    height: 100;
    transform: skewY(5deg);
    background-color: black;
    position: absolute;
}
.border-4 {
    z-index: 10;
    width: 190;
    left: -100;
    height: 500;
    margin-top: -60;
    transform: skewX(-10deg);
    background-color: black;
    position: absolute;
}
.project-thumbnail {
    z-index: -1;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -80;
    background-image: url(../media/photgraphy-thumb.PNG);
    background-position: center;
    background-size: cover;
}
.darker-layer {
    position: absolute;
    width: 100%;
    margin-top: -80;
    background-color: rgba(0,0,0,.7);
    height: 100%;
}
.view-on {
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 30px;
    color: black;
    justify-content: center;
    width: 160;
    margin-top: -50;
    z-index: 13;
    right: 50;
    background-color: white;
    height: 40;
}
.info-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 6;
    height: 100%;
}
.project-title {
    color: white;
    margin-top: 100;
    margin-left: 150;
    font-size: 30;
    font-weight: 300;
}
.project-description {
    margin-left: 150;
    margin-right: 250;
    color: white;
    font-weight: 100;
}
.border-bottom {
    height: 130;
    z-index: -2;
    margin-top: -50;
    position: relative;
    background-color: white;
    transform: skewY(-2deg);
}
/*aboutme*/
.about-me {
    margin: 0 auto;
    margin-top: 250;
    margin-bottom: 200;
    max-width: 1000;
    position: relative;
}
.about-me-circle {
    height: 300;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(4deg);
    width: 300;
    margin: 0 auto;
    border: 20px solid black;
}
.about-me-content {
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    position: relative;
    font-weight: 700;
    font-size: 30;
    margin-top: -230;
    height: 150;
    width: 150;
}
.about-me-circle .content {
    color: white;
    font-weight: 700;
    font-size: 30;
    width: 200;
    height: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .2s, transform .2s;
}
#opt {
    position: absolute;
    width: 150;
    height: 40;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 20;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    color: black;
    font-weight: 300;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}
#opt:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
.option-1 {
    left: -150;
    transform: rotate(-90deg);
}
.option-2 {
    right: -150;
    transform: rotate(90deg);
}
.option-3 {
    top: -90;

}
.option-4 {
    bottom: -90;

}